<div class="jumbotron">
  <h1>Relaxation Begins Here.</h1>
  <p>You're engaged!</p>
  <h4><p> Everyone tells you to:</p></h4>
    <li>hire a trainer</li>
    <li>eat better</li>
    <li>plan the wedding</li>
    <li>stay calm</li>
    <li>get excited</li>
    <p><h5>...But you feel stressed.</h5></p>

  <h4>Wedding Wellness is a personalized health coach service devoted to helping you relax, find balance, and achieve your health and wellness goals in a practical, easy, and sustainable manner.<br>
  <br>Wedding Wellness believes in living with abundance and is passionate about sharing tactics to increase  vibrance, energy, and joy in daily life.</h4>

  <h4><b>Get Started:</b></h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<form>
  <div class="form-group">
   <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, :class => "form-control" %>
  </div>

 <form>
  <div class="form-group">
    <%= f.label :wedding_date %>
    <%= f.date_field :wedding_date, autofocus: true, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
  </div>

  <div class="actions">
  <%= f.submit "Sign up" %>
  </div>
  </form>
<% end %>

<%= render "devise/shared/links" %>
</div>
