<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Daily Note #<%= @daily_note.id %></h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Bride</dt>
              <dd><%= @daily_note.bride_id %></dd>

              <dt>Day</dt>
              <dd><%= @daily_note.day %></dd>

              <dt>Text</dt>
              <dd><%= @daily_note.text %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/daily_notes" class="btn btn-success">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/comments/new?daily_note_id=<%= @daily_note.id %>" class="btn btn-info">
                <i class="fa fa-comment-o"></i>
              </a>

              <a href="/daily_notes/<%= @daily_note.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_daily_note/<%= @daily_note.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>

              <div class="row">
                  <div class="col-md-12">
                    <dl class="dl-horizontal">
                      <dt>Comments</dt>
                      <dd><%= @comment %></dd>
                    </dl>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
